/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width:80%;
    margin:auto;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: 'PT Sans', sans-serif;
}

section, footer {
    padding:1.5rem;
}
/* #endregion Common */

/* #region Debug */

.debug .container {
    height: 100%;
}

.debug [class^=col] {
    border: 1px dashed black;
    height:100px;
}

.debug .container-sm {
    margin:auto;
    height: 100px;
    background-color: blue;
}


/* #endregion Debug */

/* #region Color */
:root {
    --header: #0084fd;
    --bg-blocks-header: #b5ddff;
    --bg-section: #9792e4;
    --footer: #333333;
}
/* #endregion Color */

/* #region Utility */
.d_flex {
    display: flex;
}

.col_12 {
    width: 100%;
}

.my_1r {
    margin: 1rem 0;
}

.fd-column {
    flex-direction: column;
}
/* #endregion Utility */


/* #region Header */
.app_header {
    height:80px;
    background-color: var(--header);
    padding:1rem;
}

.app_header ul {
    display:none;
}

.logo {
    width:80px;
}

.app_header ul li {
    margin: 0 4px;
    color: white;
    cursor: pointer;
}

li > a {
    text-decoration:none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 32px;
}

.fa-bars {
    color: white;
}
/* #endregion Header */

/* #region Main */
/* #region Demo */
/* #endregion Demo */

/* #region Planning */
main section:nth-child(even) {
    background-color: var(--bg-section);
}
/* #endregion Planning */

/* #region Testimonials */
.header_testimonials {
    text-align: center;
    padding:2rem 0;
}

.header_testimonials h2 {
    padding: 1rem 0;
}

.avatar {
    background-color: green;
}

.description {
    background-color: red;
}

/* #endregion Testimonials */

/* #region Benefits */
.benefits h2 {
    text-align: center;
    padding: 1rem 0;
}
/* #endregion Benefits */

/* #region About Us */
/* #endregion About Us */

/* #region Free */
.container-sm {
    max-width:480px
}
/* #endregion Free */

/* #endregion Main */

/* #region Footer */
footer {
    background-color: var(--footer);
}
/* #endregion Footer */

/* #region Responsive layout */

/* #region tablet */
@media screen and (min-width:480px) and (max-width:768px) {
    .col_md_8 {
        width: calc(100% / 12 * 8)
    }

    .col_md_6 {
        width: calc(100% / 12 * 6)
    }

    .col_md_4 {
        width: calc(100% / 12 * 4)
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
}
/* #endregion tablet */

/* #region Desktop */
@media screen and (min-width:769px) {
    .container {
        width:70%;
    }

    .col_lg_8 {
        width: calc(100% / 12 * 8)
    }

    .col_lg_6 {
        width: 50%;
    }

    .col_lg_4 {
        width: calc(100% / 12 * 4)
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .testimonial [class^=col] {
        display: flex;
    }

    .avatar {
        width:30%;
    }
    
    .description {
        width: 70%;
    }
}
/* fix Get Started problem */
@media screen and (min-width:806px) {
    .fa-bars {
        display:none;
    }

    .app_header ul {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 10px;
    }
}

/* #endregion Desktop */


/* #endregion Responsive layout */
