/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width:80%;
    margin:auto;
}

body {
    font-family: 'PT Sans', sans-serif;
}

section {
    padding:1.5rem;
}
/* #endregion Common */

/* #region Debug */
.debug .logo {
    width:80px;
    height:40px;
    background-color: yellow;
}
.debug .app_header ul {
    background-color: yellow;
}

.debug .container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.debug [class^=col] {
    border: 1px dashed black;
    height:100px;
}


/* #endregion Debug */

/* #region Color */
:root {
    --header: #0084fd;
    --bg-blocks-header: #b5ddff;
    --bg-section: #9792e4;
    --footer: #333333;
}
/* #endregion Color */

/* #region Utility */
.d_flex {
    display: flex;
}

.col_12 {
    width: 100%;
}

.my_1r {
    margin: 1rem 0;
}

.fd-column {
    flex-direction: column;
}
/* #endregion Utility */


/* #region Header */
.app_header {
    height:80px;
    background-color: var(--header);
    padding:1rem;
}

.app_header ul {
    display:none;
}
/* #endregion Header */

/* #region Main */
/* #region Demo */
/* #endregion Demo */

/* #region Planning */
main section:nth-child(2) {
    background-color: var(--bg-section);
}
/* #endregion Planning */

/* #region Testimonials */
.header_testimonials {
    text-align: center;
    padding:2rem 0;
}

.header_testimonials h2 {
    padding: 1rem 0;
}

.avatar {
    background-color: green;
}

.description {
    background-color: red;
}

/* #endregion Testimonials */

/* #endregion Main */

/* #region Footer */
/* #endregion Footer */

/* #region Responsive layout */

/* #region tablet */
@media screen and (min-width:480px) and (max-width:768px) {
    .col_md_8 {
        width: calc(100% / 12 * 8)
    }

    .col_md_4 {
        width: calc(100% / 12 * 4)
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
}
/* #endregion tablet */

/* #region Desktop */
@media screen and (min-width:769px) {
    .container {
        width:70%;
    }

    .col_lg_8 {
        width: calc(100% / 12 * 8)
    }

    .col_lg_6 {
        width: 50%;
    }

    .col_lg_4 {
        width: calc(100% / 12 * 4)
    }

    .fa-bars {
        display: none;
    }

    .app_header ul {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 10px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .testimonial [class^=col] {
        display: flex;
    }

    .avatar {
        width:30%;
    }
    
    .description {
        width: 70%;
    }
}

/* #endregion Desktop */


/* #endregion Responsive layout */
